<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.smasi.tickmate"
    android:versionCode="48"
    android:versionName="1.4.13">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".Globals"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Tickmate"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notifications.NotificationInstallerStartUp" android:enabled="true" android:exported="false" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".notifications.TickmateNotificationBroadcastReceiver">

        </receiver>
        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".Tickmate"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smasi.tickmate.Tickmate" />
        </activity>

        <activity
            android:name=".views.EditTracksActivity"
            android:label="@string/title_activity_edit_tracks"
            android:parentActivityName=".Tickmate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smasi.tickmate.Tickmate" />
        </activity>
        <activity
            android:name=".views.EditGroupsActivity"
            android:label="@string/title_activity_edit_groups"
            android:parentActivityName=".Tickmate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smasi.tickmate.Tickmate" />
        </activity>

        <activity
            android:name=".views.ChooseTrackActivity"
            android:label="@string/title_activity_choose_track"
            android:parentActivityName=".views.EditTracksActivity"
            android:theme="@android:style/Theme.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smasi.tickmate.views.EditTracksActivity" />
        </activity>
        <activity
            android:name=".views.ChooseGroupActivity"
            android:label="@string/title_activity_choose_group"
            android:parentActivityName=".views.EditGroupsActivity"
            android:theme="@android:style/Theme.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smasi.tickmate.views.EditGroupsActivity" />
        </activity>

        <activity
            android:name=".views.ShowTrackActivity"
            android:label="@string/title_activity_show_track"
            android:parentActivityName=".Tickmate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smasi.tickmate.Tickmate" />
        </activity>
        <activity
            android:name=".views.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".views.TrackPreferenceActivity"
            android:label="@string/title_activity_edit_track"
            android:parentActivityName=".views.EditTracksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smasi.tickmate.views.EditTracksActivity" />
        </activity>
        <activity
            android:name=".views.GroupPreferenceActivity"
            android:label="@string/title_activity_edit_group"
            android:parentActivityName=".views.EditGroupsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smasi.tickmate.views.EditGroupsActivity" />
        </activity>

    </application>

</manifest>
